# Visual Studio Code
.vscode/

# Node packages
node_modules/

# Byte-compiled files
__pycache__/

# Distribution / packaging
dist/

# Ruff
.ruff_cache/

# Environment variables
.env

# Django
assets/
media/
*.sqlite3

# IPython
.ipython/profile_default/*
!.ipython/profile_default/ipython_config.json
!.ipython/profile_default/startup
.ipython/profile_default/startup/README
